*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: beige;
  margin: 4%;
}
.header {
  height: 50vh;
  background: red;
  margin: 3%;
}


.navbar {
  position: relative;
  background-color: purple;
  height: 50px;
  width: 100%;
  margin-bottom: 3%;
}


.mainbox{
  padding: 10px 10px;

}
.mainbox::after {
  content: "";
  display: table;
  clear: both;
}

.box {
  float: left;
}

.sx {
  width: 25%;
  background: grey;
  margin: 10px;
}

.ch {
  width: 43%;
  background: orange;
  margin: 10px;
}

.dx {
  width: 25%;
  background: pink;
  margin: 10px;
}


.widget {
  margin: 5%;
}

.footer {
  height: 100px;
  background: blue;
}
